body{
    margin:0;
    padding:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --grid-width:20px;
    --grid-height:20px;
}
  
.container {
    display: grid;
    max-width:960px;
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
    justify-content: center;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    width:var(--grid-width);
    height:var(--grid-height);
}